{% extends 'wait/wait_base.html' %}

{% block content_table %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
            <td width="50%" height="23" bgcolor="#F2F9E3" class="neirong">　业务名称</td>
            <td width="25%" bgcolor="#F2F9E3" class="neirong"><div align="center">等候人数</div></td>
            <td width="25%" bgcolor="#F2F9E3" class="neirong"><div align="center">窗口号</div></td>
        </tr>
                            {% for dataOne in dataList %}
                                <tr>
                                    <td height="26" bgcolor="#FFFFFF" class="neirong">&nbsp;{{ dataOne.ServerName }}</td>
                                    <td  height="30" align="center" bgcolor="#FFFFFF" class="neirong">{{ dataOne.WaitingCount }}</td>
                                    <td  height="30" align="center" bgcolor="#FFFFFF" class="neirong">{{ dataOne.WindowCount }}</td>
                                </tr>
                            {% endfor %}
                    </table>
{% endblock %}