{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'zzb/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'zzb/css/jquery.dialog.css' %}" />
<link rel="stylesheet" href="{% static 'zzb/css/index.css' %}" />

<title>考试报名系统</title>
</head>

<body>
<div id="container">
	<div id="hd">
    	<div class="hd-wrap ue-clear">
        	<div class="top-light"></div>
            <!-- <h1 class="logo"></h1> -->
            <div class="login-info ue-clear">
                <div class="welcome ue-clear"><span>欢迎您</span><a href="javascript:;" class="user-name"></a></div>
                <!--
                <div class="login-msg ue-clear">
                    <a href="javascript:;" class="msg-txt">消息</a>
                    <a href="javascript:;" class="msg-num">10</a>
                </div>
                -->
            </div>
            <div class="toolbar ue-clear">
                <a href="javascript:;" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
    	<div class="wrap ue-clear">
        	<div class="sidebar">
            	<h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                	<li class="office current">
                        <div class="nav-header"><a href="javascript:;" date-src="{% url 'zzb:notice_list' %}" class="ue-clear"><span>通知公告</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                        	<li><a href="javascript:;" date-src="{% url 'zzb:notice_list' %}">公告查看</a></li>
                            {% if user.power > 0 %}
                            <li><a href="javascript:;" date-src="{% url 'zzb:notice_list_all' %}">公告发布</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="system">
                        <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>个人信息</span><i class="icon"></i></a></div>
                         <ul class="subnav">
                        	<li><a href="javascript:;" date-src="{% url 'zzb:mydata' %}">填写信息</a></li>
                            <li><a href="javascript:;" date-src="{% url 'zzb:set_password' %}">修改密码</a></li>
                             {% if user.power > 0 %}
                            <li><a href="javascript:;" date-src="{% url 'zzb:zzb_temp' %}">人员资料</a></li>
                             {% endif %}
                        </ul>
                    </li>
                    <li class="gongwen">
                        <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>职位信息</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                        	<li><a href="javascript:;" date-src="{% url 'zzb:job_list' %}">职位查询</a></li>
                            <li><a href="javascript:;" date-src="{% url 'zzb:join_job' %}">职位报名</a></li>
                            {% if user.power > 0 %}
                            <li><a href="javascript:;" date-src="{% url 'zzb:job_list_all' %}">职位发布</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% if user.power > 0 %}
                    <li class="nav-info">
                    	<div class="nav-header"><a href="javascript:;" class="ue-clear"><span>报考情况</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                        	{% if user.power > 0 %}
                            <li><a href="javascript:;" date-src="{% url 'zzb:join_list_all' %}">报考查询（所有）</a></li>
                            <li><a href="javascript:;" date-src="{% url 'zzb:join_faile_list' %}">报名审核</a></li>
                            <li><a href="javascript:;" date-src="{% url 'zzb:join_count' %}">报名统计</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if user.power > 0 %}
                    <li class="konwledge">
                        <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>课室座位</span><i class="icon"></i></a></div>
                         <ul class="subnav">
                        	<li><a href="javascript:;" date-src="{% url 'zzb:seat_crate' %}">座位生成</a></li>
                            <li><a href="javascript:;" date-src="{% url 'zzb:seat_list' %}">座位查询</a></li>
                        </ul>
                    </li>
                {% endif %}
                    <li class="agency">
                        <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>资料打印</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                        <li><a href="javascript:;" date-src="{% url 'zzb:join_list' %}">报名表打印</a></li>
                        	<li><a href="javascript:;" date-src="{% url 'zzb:paper_list' %}">准考证打印</a></li>
                            {% if user.power > 0 %}
                            <li><a href="javascript:;" date-src="{% url 'zzb:paper_list_all' %}">准考证查询</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="email">
                        <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>考试成绩</span><i class="icon"></i></a></div>
                         <ul class="subnav">
                        	<li><a href="javascript:;" date-src="{% url 'zzb:chengji_data' %}">成绩查询</a></li>
                             {% if user.power > 0 %}
                            <li><a href="javascript:;" date-src="{% url 'zzb:chengji_list' %}">录入查询</a></li>
                             {% endif %}
                        </ul>
                    </li>
            {% if user.power > 0 %}
                    <li class="system">
                        <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>考试配置</span><i class="icon"></i></a></div>
                         <ul class="subnav">
                        	<li><a href="javascript:;" date-src="{% url 'zzb:time_set' %}">时间配置</a></li>
                             <li><a href="javascript:;" date-src="{% url 'zzb:database_set' %}">数据操作</a></li>
                        </ul>
                    </li>
            {% endif %}
                </ul>
            </div>
            <div class="content">
            	<iframe src="{% url 'zzb:notice_list' %}" id="iframe" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div id="ft" class="ue-clear">
    	<div class="ft-left">
            <span>考试报名系统</span>
            <em></em>
        </div>
        <div class="ft-right">
            <span>Design by weber</span>
            <em>V1.0&nbsp;2018</em>
        </div>
    </div>
</div>
<div class="exitDialog">
	<div class="dialog-content">
    	<div class="ui-dialog-icon"></div>
        <div class="ui-dialog-text">
        	<p class="dialog-content">你确定要退出系统？</p>
            <p class="tips">如果是请点击“确定”，否则点“取消”</p>
            
            <div class="buttons">
                <input type="button" class="button long2 ok" value="确定" />
                <input type="button" class="button long2 normal" value="取消" />
            </div>
        </div>
        
    </div>
</div>
</body>
<script type="text/javascript" src="{% static 'zzb/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/jquery.dialog.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/index.js' %}"></script>

</html>
