{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'zzb/css/base.css'%}" />
    <link rel="stylesheet" href="{% static 'zzb/css/info-reg.css'%}" />
</head>

<body>
<div class="title"><h2>新增岗位</h2></div>
<form action="{% url 'zzb:job_add' %}" method="post">
<div class="main">
    <p class="short-input ue-clear">{% csrf_token %}
    	<label>招考岗位：</label>
        <input type="text" name="name" placeholder="例如：聘员" />
    </p>
    <p class="short-input ue-clear">
    	<label>岗位代码：</label>
        <input type="text" name="daihao" placeholder="例如：PY001" />
    </p>
    <p class="short-input ue-clear">
    	<label>招聘人数：</label>
        <input type="text" name="count" placeholder="例如：2" />
    </p>
        <p class="long-input ue-clear">
    	<label>学历要求：</label>
        <input type="text" name="education" placeholder="例如：全日制本科或以上学历" />
    </p>
        <p class="long-input ue-clear">
    	<label>专业要求：</label>
        <input type="text" name="major" placeholder="" />
    </p>
    <p class="long-input ue-clear">
    	<label>其他要求：</label>
        <textarea placeholder="请输入内容" name="other"></textarea>
    </p>
    <p class="long-input ue-clear">
    	<label>备注：</label>
        <textarea placeholder="请输入内容" name="note"></textarea>
    </p>

{#    <p class="long-input ue-clear">#}
{#    	<label>最低要求出生年月：</label>#}
{#        <input type="text"  required="required" name="hold0" placeholder="例如：1987-7-11" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value=""/>#}
{#        <span><em>*</em>请输入正确的时间格式</span>#}
{#    </p>#}

</div>
<div class="btn ue-clear">
	<input type="submit" value="保存" />
</div>
</form>
</body>
<script type="text/javascript" src="{% static 'zzb/js/jquery.js'%}"></script>
<script type="text/javascript" src="{% static 'zzb/js/common.js'%}"></script>
<script type="text/javascript" src="{% static 'zzb/js/WdatePicker.js'%}"></script>
<script type="text/javascript">
$(".select-title").on("click",function(){
	$(".select-list").toggle();
	return false;
});
$(".select-list").on("click","li",function(){
	var txt = $(this).text();
	$(".select-title").find("span").text(txt);
});


showRemind('input[type=text], textarea','placeholder');
</script>
</html>
