{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'zzb/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'zzb/css/info-reg.css' %}" />
    <link rel="stylesheet" href="{% static 'zzb/css/info-det.css' %}" />
<title>考试报名系统</title>
</head>

<body>
<div class="title"><h2>查看报考信息</h2></div>
<div class="main">

    <p class="short-input ue-clear newstyle" style="color: red;font-size: 17px;">
    	<label>已报名成功。</label>
    </p>
    <p class="short-input ue-clear newstyle" style="color: red;font-size: 17px;">
        <label>请打印报名表和准考证。</label>
    </p>

</div>


</div>

</body>
<script type="text/javascript" src="{% static 'zzb/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/WdatePicker.js' %}"></script>
<script type="text/javascript">
</script>
</html>
