{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'zzb/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'zzb/css/info-mgt.css' %}" />
<link rel="stylesheet" href="{% static 'zzb/css/WdatePicker.css' %}" />
<title>报考情况</title>
    {% block js %}{% endblock %}
</head>

<body>
<div class="title"><h2>报考查询</h2></div>
<div class="table-box">
	<table>
     	<thead>
        	<tr>
            	<th class="num">序号</th>
                <th class="time">报考人</th>
                <th class="time">身份证</th>
                <th class="time">报考岗位</th>
                <th class="time">报考状态</th>
                <th class="process">操作</th>
            </tr>
        </thead>
        <tbody>
        {% for joinjob in joinjoblist %}
        	<tr>
            	<td class="num">{{ forloop.counter }}</td>
                <th class="time">{{ joinjob.user.name }}</th>
                <td class="time">{{ joinjob.user.idcard }}</td>
                <td class="time" style="border:1px dotted #c7c7c7;">{{ joinjob.job.name }}</td>
                <td class="time" style="border:1px dotted #c7c7c7;">{{ joinjob.state }}</td>
                <td class="process">
                    <a href="{% url 'zzb:join_show' joinjob.id %}">查看详情&nbsp;&nbsp;</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
<div class="pagination ue-clear"></div>
</body>
<script type="text/javascript" src="{% static 'zzb/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/jquery.pagination.js' %}"></script>
<script type="text/javascript">
$(".select-title").on("click",function(){
	$(".select-list").hide();
	$(this).siblings($(".select-list")).show();
	return false;
})
$(".select-list").on("click","li",function(){
	var txt = $(this).text();
	$(this).parent($(".select-list")).siblings($(".select-title")).find("span").text(txt);
})


$("tbody").find("tr:odd").css("backgroundColor","#eff6fa");

showRemind('input[type=text], textarea','placeholder');
</script>
</html>
