{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'zzb/css/base.css' %}" />
<link rel="stylesheet" href="{% static 'zzb/css/info-mgt.css' %}" />
<link rel="stylesheet" href="{% static 'zzb/css/WdatePicker.css' %}" />
<title>查看通知公告</title>
    {% block js %}{% endblock %}
</head>

<body>
<div class="title"><h2>公告查看</h2></div>
<div class="table-box">
	<table>
     	<thead>
        	<tr>
            	<th class="num">序号</th>
                <th class="operate">标题</th>
                <th class="time">发布时间</th>
                <th class="process">操作</th>
            </tr>
        </thead>
        <tbody>
        {% for notice in noticelist %}
        	<tr>
            	<td class="num">{{ notice.id }}</td>
                <td class="operate">{{ notice.title }}</td>
                <td class="time" style="border:1px dotted #c7c7c7;">{{ notice.date_publish }}</td>
                <td class="process">
                    <a href="{% url 'zzb:notice_look' notice.id %}">查看</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<table>
    <tr >
        <td style="text-align: right;">
            共&nbsp;<b>{{ pageDict.allCount }}</b>&nbsp;项&nbsp;&nbsp;
            {% ifnotequal pageDict.nowPage 1 %}
            <a href="?pageType=last&nowPage={{ pageDict.nowPage }}">上一页</a>
            {% endifnotequal %}
            &nbsp;&nbsp;
            {{ pageDict.nowPage }}/{{ pageDict.allPage }}
            &nbsp;&nbsp;
            {% ifnotequal pageDict.nowPage pageDict.allPage %}
            <a href="?pageType=next&nowPage={{ pageDict.nowPage }}">下一页</a>
            {% endifnotequal %}
        </td>
    </tr>
</table>
</div>
<div class="pagination ue-clear"></div>
</body>
<script type="text/javascript" src="{% static 'zzb/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'zzb/js/jquery.pagination.js' %}"></script>
<script type="text/javascript">
$(".select-title").on("click",function(){
	$(".select-list").hide();
	$(this).siblings($(".select-list")).show();
	return false;
})
$(".select-list").on("click","li",function(){
	var txt = $(this).text();
	$(this).parent($(".select-list")).siblings($(".select-title")).find("span").text(txt);
})


$("tbody").find("tr:odd").css("backgroundColor","#eff6fa");

showRemind('input[type=text], textarea','placeholder');
</script>
</html>
