{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'zzb/css/base.css'%}" />
    <link rel="stylesheet" href="{% static 'zzb/css/info-reg.css'%}" />
</head>

<body>
<div class="title"><h2>准考证配置</h2></div>
<form name='mydata' action="{% url 'zzb:zkz_set' %}" method="post" onsubmit="return checksubmit()" enctype="multipart/form-data">{% csrf_token %}
<div class="main">
    <p class="short-input ue-clear">
    	<label>*考试地点：</label>
        <input type="text"  required="required" name="zkz_address" value="{{ zkz_address.content }}" />
    </p>

    <p class="short-input ue-clear">
    	<label>*考点地址：</label>
        <input type="text"  required="required" name="zkz_address_detail" value="{{ zkz_address_detail.content }}" />
    </p>

    <p class="short-input ue-clear">
    	<label>*考试时间：</label>
        <input type="text"  required="required" name="zkz_time" value="{{ zkz_time.content }}" />
    </p>


    <p class="short-input ue-clear">
    	<label style="color: red;">{{ answer }}</label>
    </p>
</div>
<div class="btn ue-clear">
	<input type="submit" value="保存" />
</div>
</form>
</body>
<script type="text/javascript" src="{% static 'zzb/js/jquery.js'%}"></script>
<script type="text/javascript" src="{% static 'zzb/js/common.js'%}"></script>
<script type="text/javascript" src="{% static 'zzb/js/WdatePicker.js'%}"></script>
    <script>
        function checksubmit() {

            if(confirm("确定保存？"))
            {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
</html>
